.navLink {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.navLink:hover {
    color: #313131;
}

.navItem {
    position: relative;
    overflow-x: hidden;
}

.navLink .active {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: -50px;
    width: 100%;
    height: 5px;
    background-image: url('../../../../public/assets/borda-link.png');
    background-repeat: repeat-x;
    background-position: 0;
    background-size: auto 10px;
}