* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  transition: 1s all ease;
}

:root {
  font-size: 10px;
}

#root {
  --fonte-logo: 'Gloria Hallelujah', cursive;
  --fonte-primaria: 'Sulphur Point', sans-serif;
  --fonte-titulo-principal: 'Anybody', cursive;
  --fonte-monoespacada: 'Ubuntu Mono', monospace;
  --cor-fundo: #fcfcfc;
  --cor-texto-principal: #313131;
  --cor-texto-hover: #747474;
  --cor-texto-claro: #747474;
  --cor-fundo-botoes: #FCFCFC;
  --cor-fundo-cards: rgba(0, 0, 0, 0.05);
  --cor-progress-bar: #3f3f3f;
  --cor-link-ativo: rgb(68, 180, 167);
  --branco-amarelado: #fcffde;
  --lilas-claro: #CCE0FF;
  --size-titulo-principal: 6rem;
  --size-texto-principal: 2rem;
  --size-texto-comum: 1.8rem;
  --size-titulos-section: 4rem;
  --size-subtitulos-section: 2.5rem;
  --size-texto-grande: 2rem;
  --size-texto-small: 1.6rem;
  overflow: hidden;
}

#root .dark-mode {
  --cor-fundo: #313131;
  --branco-fundo: #313131;
  --cor-texto-principal: #F1F1F1;
  --cor-texto-hover: #c4c4c4;
  --cor-fundo-cards: rgba(255, 255, 255, 0.05);
  --cor-progress-bar: #bdbdbd;
}

.container {
  width: 100%;
  background-color: var(--cor-fundo);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #E9FEFF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #CCE0FF;
  border-radius: 10px;
}

@media (max-width: 1400px) {
  #root {
    --size-titulo-principal: 4.6rem;
    --size-texto-principal: 1.6rem;
    --size-texto-comum: 1.2rem;
    --size-titulos-section: 3.6rem;
    --size-subtitulos-section: 1.8rem;
    --size-texto-grande: 1.6rem;
    --size-texto-small: 1.4rem;
  }
}

@media (max-width: 1024px) {
  #root {
    --size-titulo-principal: 3.8rem;
    --size-texto-principal: 1.2rem;
    --size-texto-comum: 1.2rem;
    --size-titulos-section: 3.2rem;
    --size-subtitulos-section: 1.6rem;
    --size-texto-grande: 1.4rem;
    --size-texto-small: 1.2rem;
  }
}

@media (max-width: 768px) {
  #root {
    --size-titulo-principal: 3.8rem;
    --size-texto-principal: 1.5rem;
    --size-texto-comum: 1.4rem;
    --size-titulos-section: 3.2rem;
    --size-subtitulos-section: 1.6rem;
    --size-texto-grande: 1.5rem;
    --size-texto-small: 1.3rem;
  }
}

@media (max-width: 480px) {
  #root {
    --size-titulo-principal: 2.8rem;
    --size-texto-principal: 1.2rem;
    --size-texto-comum: 1.1rem;
    --size-titulos-section: 2.2rem;
    --size-subtitulos-section: 1.4rem;
    --size-texto-grande: 1.4rem;
    --size-texto-small: 1.2rem;
  }
}